<link href="https://fonts.cdnfonts.com/css/itv-reem-web" rel="stylesheet">


<nav>
  <div class="logo">
    <div class="img">
      <img src="/assets/dwayne-joe-V1ioMxNDfEs-unsplash.jpg" alt="">
    </div>
  </div>

  <div class="link">
    <p routerLink="/">Biz haqimizda</p>
    <p routerLink="/galery">Galereya</p>
    <p routerLink="/contact">Kontaktlar</p>
    <p routerLink="/birbalo">Bizning yutuqlarimiz</p>
  </div>
</nav>
<router-outlet></router-outlet>

<section>
  <div class="fon">
    <div class="fon-main">
      <h1>Bizning sinf haqida</h1>
    </div>
  </div>
</section>